version: '3.8'

services:
  nextapp:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: whitewhale_app
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
